body {
margin: 0;
padding: 0;

background-color: #555;
}
pre {
margin 0;
}
.title {
text-align: center;
height: 2%
margin: 0;
padding: 0 0 0 10px;

font-size: 50px;
font-weight: 100;

color: #ff0000;
border-bottom: solid 2px #ff0000;
}

.selection {
      box-shadow: 0 0 10px rgba(81, 203, 238, 1);
      outline: 2px solid rgba(81, 203, 238, 1);
}

tr{
width:500px;

}

td{
vertical-align: text-top;
width:100px;
height:20px;
}

.cols{
margin-top: 4%;
font-weight: bold;
display: inline-block;
padding: 11px;
position: absolute;
left: 512px;
top: 4px;

}

.cardLocation{
width: 100px;

visibility: hidden;
}


.playingCard{
background-color:#F0F0F0;
    visibility: visible;
    width:100px;
    height:150px;
    border:2px solid black;
}
.smallPlayingCard{
background-color:#F0F0F0;
    visibility: visible;
    width:100px;
    height:25px;
    border-top:2px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
}
.cardValue{
    display:inline-block;
    padding: 5px 2px 0px 10px;
    font-size:20px;

}
.columnTables{
	position: relative;
	float: right;
	left: 98%;
	top: 50px;
}
.cardSuit{
    display:inline-block;
    font-size:20px;

}

.cardSuitBig{
    text-align:center;
    margin:auto;

    padding: 0px;
    font-size:75px;
    display:block;
}

.colorRed{
    color: #ff0000;
}

#dealButton{

    font-size: 14px;
    width: 300px;
    text-align: center;
    font-size: 14px;
	  position: fixed;
	  top: 651px;
	  left: 38%;

}
//stands for table body
.tbody{
	position: relative;
	top: 8px;
}

.button{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #292929;
    padding: 20px 20px; /* size of box */
    font-size: 24px;
    border: 1px solid #2d6898;

    -webkit-border-radius: 5px; /*makes the box rounded */
    -moz-border-radius: 5px;
    border-radius: 5px;

    text-shadow: 0px -1px 0px black, 0px 3px 15px rgba(0,0,0,.4); /* shadow to the number */
    -webkit-box-shadow: 0px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4); /* dark shadow to the box */
    -moz-box-shadow: -6px 6px 0px black, 0px 3px 15px rgba(0,0,0,.4); /* light shadow under the dark shadow */
}

.columnOfCards{
	border: dashed;
	border-color: gray;
	border-width: 2px;
}

#col1, #col2, #col3, #col4{
    width: 20px; /* sets width of all boxes */
    float: left;
    margin-right: 28px;
}

#col2{
    margin-left: 20px; /* distance between the boxes */

}

#col3{
    margin-left: 20px;

}

#col4{
    margin-left: 20px;

}
