<h1><pre class="title">A C E S  U P</pre></h1>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body>
<div id = "esc" class = "button">Cancel</div>
<table class="tbody">
    <tr class="cols">
        <td id = "col1" class = "button">1</td>
        <td id = "col2" class = button>2</td>
        <td id = "col3" class = button>3</td>
        <td id = "col4" class = "button">4</td>
    </tr>

    <tr class="columnTables"><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
            </table>
        </td>
    </tr>
</table>


<button id="dealButton" class = "button">Deal (Cards Left: 52)</button>


<div id = "restart" class = "button">R</div>

<div id = "helpButton" class = "button">?</div>
<div class="hidden" id="help-modal-background">
    <div id="help-modal">
        <h1>How to Play</h1>
        <p>1. You can either use the keyboard keys or click the buttons on the screen with your mouse to preform actions.<br><br>
        2. Pressing 1, 2, 3, or 4 will select the respective column<br><br>
        3. While a column is selected, attempting to select it again will remove the bottom card if a higher value card of the same suit is the bottom card on a different column.
        While a column is selected, selecting a different column will attempt to move the selected card to the new column. This only works if the column being moved to is empty and the card being moved is an Ace.<br><br>
        4. Pressing the ESC key deselects your selection.<br><br>
        5. Pressing space deals a new card to each pile<br><br>
        TIP: For the best experience, play on full screen mode (press F11). </p>
        <button id="cancel-button">X</button>
    </div>
</div>

<div class = "hidden" id = "selection-modal-background">
    <div id = "selection-modal">
        <h1 id="select-text"> Select a deck to play with</h1>
        <button id="spanish-button" class="button">Spanish</button>
        <button id="english-button" class="button">English</button>
    </div>
</div>

<script>

var game;
var cardsLeft = 52;
var restart = 0; //if this is one, game resets upon deck selection
var newGame = 1; //determines if deck selection modal should pop up, this variable ensures that the modal pops up when page is loaded
var selection = 0; //represents which column is selected. 0 means no selection.
function display(game) {
console.log(game);

if(newGame == 1){
    newGame = 0;
    toggleSelection();
}

$( '.columnOfCards .cardLocation' ).html("");

    //loop through each column
    for(var i = 0; i < 4; i++){
        var htmlCard;

        //update the html of each card in the column
        $.each(game.cols.cols[i], function(key, val){
            updateCardsLeftHTML();
            //change the html to a fullsize card if it is the last card
            if(game.cols.cols[i].length-1 == key){
                if(val.suit == "Diamonds" || val.suit == "Hearts"){
                    htmlCard = "<div class=\"playingCard\"><span class=\"cardValue colorRed\">"+valueToCard(val.value)+"</span><span class=\"cardSuit colorRed\">&"+suitToUnicode(val.suit)+";</span><span class=\"cardSuitBig colorRed\">&"+suitToUnicode(val.suit)+";</span></div>";
                }
                else{
                    htmlCard = "<div class=\"playingCard\"><span class=\"cardValue\">"+valueToCard(val.value)+"</span><span class=\"cardSuit\">&"+suitToUnicode(val.suit)+";</span><span class=\"cardSuitBig\">&"+suitToUnicode(val.suit)+";</span></div>";
                }
            }

            //change the html to the header of a card
            else{
                if(val.suit == "Diamonds" || val.suit == "Hearts"){
                    htmlCard = "<div class=\"smallPlayingCard\"><span class=\"cardValue colorRed\">"+valueToCard(val.value)+"</span><span class=\"cardSuit colorRed\">&"+suitToUnicode(val.suit)+";</div>";
                }
                else{
                    htmlCard = "<div class=\"smallPlayingCard\"><span class=\"cardValue\">"+valueToCard(val.value)+"</span><span class=\"cardSuit\">&"+suitToUnicode(val.suit)+";</div>";
                }
            }

            //write the html into the table element
            $( '#c'+i+' .l'+key ).html(htmlCard);
        });
    }
}

//updates the html of cards left in the deal button
function updateCardsLeftHTML(){
    document.getElementById("dealButton").innerHTML = "Deal (Cards Left: "+ cardsLeft + ")";
}

//convert a string suit to it's unicode version. For example: "Hearts" becomes "hearts"
function suitToUnicode(suit){
    if(suit == "Diamonds")
        return "diams";
    else
        return suit.toLowerCase();
}

//convert a string card value to a face card letter if applicable
function valueToCard(value){
    switch(value){
        case 11:
            return "J";
        case 12:
            return "Q";
        case 13:
            return "K";
        case 14:
            return "A";
        default:
            return value;
    }
}

// Calls ApplicationController.gameGet()
$.getJSON("http://localhost:8080/game", function( data ) {
display(data);
game = data;
});

//deals cards if deal button is clicked.
$("#dealButton").click(function(){
    dealCards();
    document.getElementById("dealButton").blur();
});

//can select buttons if clicked rather than keyboard input
$("#col1").click(function(){
    select(1);
});
$("#col2").click(function(){
    select(2);
});
$("#col3").click(function(){
    select(3);
});
$("#col4").click(function(){
    select(4);
});
$("#helpButton").click(function(){
    toggleModal();
});
$("#cancel-button").click(function(){
    toggleModal();
});
$("#esc").click(function(){
    clearSelection();
});
$("#restart").click(function(){
    restart = 1;
    toggleSelection();
    if(restart == 1){
        restart = 0;
        reset();
    }
});
$("#english-button").click(function(){
    toggleSelection();
    if(restart == 1){
        restart = 0;
        reset();
    }
});
$("#spanish-button").click(function(){
    toggleSelection();
    if(restart == 1){
        restart = 0;
        reset();
    }
});

//listens for keyboard input
document.addEventListener('keydown', (event)=> {
    const keyName = event.key;
    if(keyName === ' '){
        dealCards();
        return;
    }
    else if(keyName === '1'){
        select(1);
        return;
    }
    else if(keyName === '2'){
        select(2);
        return;
    }
    else if(keyName === '3'){
        select(3);
        return;
    }
    else if(keyName === '4'){
        select(4);
        return;
    }
    else if(keyName === 'Escape'){
        clearSelection();
        return;
    }
     else if(keyName === '?' || keyName === '/'){
        toggleModal();
        return;
    }
    else if(keyName === 'r'){
        restart = 1;
        toggleSelection();
        //reset();
        return;
    }
}, false);

//resets the game as if the user had refreshed the page
function reset(){

    cardsLeft = 52;
    updateCardsLeftHTML();
    $.ajax({
        type: "POST",
        url: "/resetGame",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}

//selects the passed colNumber, moving or removing cards as appropriate
function select(colNumber){
    if(colNumber == selection){
        removeCard(colNumber-1);
        clearSelection();
    }
    else if(selection != 0){
        moveCard(selection-1, colNumber-1);
        clearSelection();
    }

    else if(game.cols.cols[colNumber-1].length == 0){
        //user tried to select an empty column. Do nothing.
    }
    else{
        //add the selection and css class to the element selected
        selection = colNumber;
        document.getElementById('c'+(colNumber-1)).firstElementChild.rows[game.cols.cols[colNumber-1].length-1].cells[0].firstElementChild.classList.add("selection");
    }
}

//clears the selection
function clearSelection(){

    //we don't want to remove the selection class from an element that doesn't exist or if nothing is already selected
    if(game.cols.cols[0].length > 0 && selection > 0){
        document.getElementById("c"+(selection-1)).firstElementChild.rows[game.cols.cols[selection-1].length-1].cells[0].firstElementChild.classList.remove("selection");
    }
    selection = 0;
}

//deals the cards
function dealCards(){
    cardsLeft -= 4;
    if(cardsLeft < 0){
        cardsLeft = 0;
    }
    clearSelection();
    $.ajax({
        type: "POST",
        url: "/dealGame",
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}

//remove the card from the given col starting from 0
function removeCard(colNumber){
    $.ajax({
        type: "POST",
        url: "/removeCard/"+colNumber,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}

//attempts to move a card from colFrom to colTo
function moveCard(colFrom, colTo){
    $.ajax({
        type: "POST",
        url: "/moveCard/"+colFrom+"/"+colTo,
        data: JSON.stringify(game),
        success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
        contentType:"application/json; charset=utf-8",
        dataType:"json",
    });
}

//When to toggle selection modal
var selectionModalBack = document.getElementById("selection-modal-background");
var selectionModal = document.getElementById("selection-modal");
function toggleSelection(event){
    selectionModalBack.classList.toggle('hidden');
    reset();
}
// Toggle Modal when ? is pushed or button is clicked
    var modalBackdrop = document.getElementById("help-modal-background");
    var modal = document.getElementById("help-modal");
    function toggleModal(event) {
        modalBackdrop.classList.toggle('hidden');
    }

</script>



</body>
</html>
